*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#ebb9ff, #dd86ff);
    min-height: 100vh;
}

.sidebar{
    position: fixed;
    top: 16px;
    left: 16px;
    height: calc(100vh - 32px);
    width: 270px;
    border-radius: 16px;
    background-color: #151a2d;
    transition: width 0.4s ease, transform 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    position: relative;
}

.sidebar-header .sidebar-logo img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-header .toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    color: #151a2d;
    cursor: pointer;
    transition: bacground-color 0.4s ease;
}

.sidebar-header .sidebar-toggler{
    position: absolute;
    right: 20px;
}

.sidebar-header .menu-toggler{
    display: none;
}

.sidebar-header .sidebar-toggler{
    position: absolute;
    right: 20px;
}

.sidebar-header .sidebar-toggler{
    display: block;
}

.sidebar.collapsed .sidebar-header .toggler{
    transform: translate(-4px, 65px);
}

.sidebar-header .toggler span{
    font-size: 1.75rem;
    transition: transition 0.4s ease;
}

.sidebar.collapsed .toggler span{
    transform: rotate(180deg);
}

.sidebar-nav .nav-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 15px;
    list-style: none;
    transform: translateY(15px);
    transition: transform 0.4s ease;
}

.sidebar-header .header-logo img{
    width: 45px;
    height: 45px;
}

.sidebar.collapsed .primary-nav{
    transform: translateY(65px);
}

.sidebar-nav .nav-link{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 3px 15px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.4s ease, color 0.4s ease;

}

.sidebar-nav i{
    font-size: 25px;
}

.sidebar.collapsed .nav-link{
    border: 12px;
}

.sidebar .nav-link .nav-label{
    transition: opacity 0.3s ease;
}

.sidebar.sidebar.collapsed .nav-label{
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-link:hover{
    background-color: #fff;
    color: #151515;
}

.sidebar-nav .nav-item{
    position: relative;
}

.sidebar-nav .nav-item .nav-tooltip{
    position: absolute;
    top: -10px;
    left: calc(100% + 12px);
    padding: px 12px;
    color: #151a2d;
    background-color: #fff;
    border-radius: px;
    white-space: nowrap;
    opacity: 0;
    display: none;
    pointer-events: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.4s ease ,transform 0.4s ease;
}

.sidebar.collapsed .nav-tooltip{
    display: block;
}

.nav-item:hover .nav-tooltip{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
}

.sidebar-nav .secondary-nav{
    position: absolute;
    bottom: 30px;
    width: 100%;
}

@media (max-width: 1024px){
    .sidebar{
        width: calc(100% - 300px);
        height: 500px;
        max-height: calc(100hv - 26px);
        margin: 13px;
        overflow-y: hidden;
        scrollbar-width: none;
    }
    .sidebar.menu-active{
        overflow-y: auto;
    }

    .sidebar .sidebar-header{
        position: sticky;
        top: 0;
        z-index: 20;
        padding: 8px 10px;
        border-radius: 16px;
        background: #151a2d;
    }

    .sidebar-header .header-logo img{
        width: 40px;
        height: 40px;
    }

    .sidebar-header .sidebar-toggler,
    .nav-item:hover .nav-tooltip{
        display: none;
    }

    .sidebar-header .menu-toggler{
        display: flex;
        width: 30px;
        height: 30px;
    }

    .menu-toggler span{
        font-size: 1.3rem;
    }

    .sidebar-nav .nav-list{
        padding: 0 10px;
    }

    .nav-link{
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .nav-icon{
        font-size: 1.37rem;
    }

    .secondary-nav{
        position: relative;
        bottom: 0;
        margin: 40px 0 30px;
    }
}